body {
  font-family: Arial, sans-serif;
  background-color: #9cb4e1;
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #ffffff;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 5%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}
#result {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

/* Checkmark animation */
@keyframes checkmark {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.checkmark {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  border-radius: 50%;
  display: none;
  animation: checkmark 0.3s ease-in-out;
}

.checkmark::after {
  content: "\2713"; /* Unicode checkmark character */
  font-size: 75px;
  color: #1ded06;
  display: block;
  text-align: center;
  line-height: 75px;
}
